$color-indigo   : #814ca7;
$color-grean    :#33CC66;
$color-red      :#E74C3C;
$color-oreng    :#ffa632;
$color-black    :#171717;
$color-gray-blue:#525d64;
$color-gray     :#1e1e20;
$color-gray-f   :#757d8b;
$color-blue     :#6495ed;
$color-white    :#e0e0e0;



.color-indigo {
    color: $color-indigo;
}

.color-white {
    color: $color-white;
}

.color-grean {
    color: $color-grean;
}

.color-red {
    color: $color-red;
}

.color-oreng {
    color: $color-oreng;
}

.color-gray-blue {
    color: $color-gray-blue;
}

.color-blue {
    color: $color-blue;
}

.color-gray {
    color: $color-gray;
}

.color-gray-f {
    color: $color-gray-f;
}

.background-indigo {
    background: $color-indigo;
}

.background-grean {
    background: $color-grean;
}

.background-red {
    background: $color-red;
}

.background-oreng {
    background: $color-oreng;
}

.background-gray-blue {
    background: $color-gray-blue;
}

.background-gray {
    background: $color-gray;
}

.background-gray-f {
    background: $color-gray-f;

}

.background-black {
    background: $color-black;
}


.background-100{
    background-color: rgba(255, 255, 255, 0.1);
}

.border-grean {
    border: $color-grean 2px solid;
}

.border-gray-f {
    border: $color-gray-f 2px solid;
}

.border-red {
    border: $color-red 2px solid;
}

.border-indigo {
    box-shadow: $color-indigo 0 0 0 2px;
}

.border-oreng {
    border: $color-oreng solid 2px;
}

.border-gray {
    box-shadow: $color-gray-f 0 0 0 2px;
}


.i-gray {
    background: $color-gray;
    color     : #9cacce;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');

* {
    padding                    : 0;
    margin                     : 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
    width     : 100vw;
    overflow-x: hidden;
    height    : 100%;
}

main {
    min-height: 70vh;

}

body {

    width           : 100vw;
    overflow-x      : hidden;

    &::-webkit-scrollbar {
        width : 15px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
        cursor          : pointer;
    }

    &::-webkit-scrollbar-thumb {
        border-radius   : 10px;
        background-color: $color-indigo;
        background-clip : content-box;
        border          : transparent 3px solid;
        cursor          : pointer;
    }


}

@mixin font-size-auto($size, $color:#FFFFFF) {
    font-size: $size;
    color    : $color;

    @media (max-width:1700px) {
        font-size: $size/1.1;
    }

    @media (max-width:1500px) {
        font-size: $size/1.2;
    }

    @media (max-width:800px) {
        font-size: $size/1.3;
    }

    @media (max-width:600px) {
        font-size: $size/1.4;
    }

    @media (max-width:400px) {
        font-size: $size/1.42;
    }
}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    @include font-size-auto(4rem);
    padding: 10px 0;
}

h2 {
    @include font-size-auto(3.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding    : 8px 0;

}

h3 {
    @include font-size-auto(3rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding    : 5px 0;

}

h4 {
    @include font-size-auto(2.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding    : 5px 0;
}

h5 {
    @include font-size-auto(2rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding    : 5px 0;
}

h6 {
    @include font-size-auto(1.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding    : 5px 0;
}

p {
    @include font-size-auto(1.5rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding    : 2px 0;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size  : 1.2em;

    option {
        font-size: 1.0em;
    }
}

.P-hover-ing:hover{
    color: #ffffff;
    transition: 0s;
    border-bottom: #6e329b solid 2px;
}

input {
    @include font-size-auto(1.2rem);
    font-family  : 'Montserrat', sans-serif;
    font-weight  : 400;
    padding      : 5px;
    outline      : none;
    background   : none;
    border       : none;
    border-radius: 5px;
    width        : 100%;
}

button {
    background: none;
    @include font-size-auto(1.5rem);
    font-family  : 'Montserrat', sans-serif;
    font-weight  : 400;
    padding      : 10px;
    outline      : none;
    border       : none;
    border-radius: 5px;
    cursor       : pointer;
    position     : relative;
    box-shadow   : rgba(0, 0, 0, 0.205) 0 0 20px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.305) 0 0 20px;
        transition: 0.3s;
        opacity   : 0.9;
    }

    &:focus::after {
        content            : '';
        height             : 100%;
        width              : 100%;
        top                : 0;
        filter             : blur(20px);
        left               : 0;
        border-radius      : 5px;
        background-color   : rgba(255, 255, 255, 0.411);
        position           : absolute;
        opacity            : 0;
        animation          : moveInBottom 0.7s ease-out;
        animation-fill-mode: backwards;
    }

    @keyframes moveInBottom {
        0% {
            opacity  : 0.6;
            transform: scale(1);
        }

        100% {
            opacity  : 0;
            transform: scale(1.2);
        }
    }
}

a {
    @include font-size-auto(1.5rem, $color-oreng);
    font-family    : 'Montserrat', sans-serif;
    font-weight    : 400;
    text-decoration: none;
    padding        : 3px 0;
}

.c-gb {
    color: $color-gray-blue
}

.c-indigo {
    color: $color-indigo;
}

.c-gf {
    color: $color-gray-f;

}

.btn-indigo {
    background-color: $color-indigo;
    color           : white;
}

.btn-grean {
    background-color: $color-grean;
    color           : white;
}


.btn-red {
    background-color: $color-red;
    color           : white;
}

.btn-gb {
    background-color: $color-gray-blue;
    color           : white;
}



.i-indigo {
    border: 2px solid $color-indigo;
    color : $color-indigo;
}

.i-red {
    border: 2px solid $color-red;
    color : white;
}

.background-black {
    background-color: $color-black;
}

 
.bgrd {
    background: linear-gradient(25deg, #212127, rgb(48, 48, 54));
  }
